.Footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #FFFFFF;
  color: white;
  height: 8vh;
}

.Footer__infos {
  display: flex;
  margin: auto;
  width: 75vw;
  flex-flow: row nowrap;
  color: black;
}

.model {
  font-weight: 100;
}

.Footer__infos > .kwh {
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
  height: auto;
  line-height: 3vh;
}

.wheel {
  transform: scale(0.5);
  height: 10vh;
  margin-top: -0.6%;
}

.Footer__infos > .color {
  transform: scaleY(0.3);
  transform: scaleX(0.3);
  height: 4vh;
  margin-top: 1.4%;
}

.Footer__infos > .price:nth-child(1) {
  line-height: 0.5vh;
}

.Footer__infos > .price > h1 {
  color:#AB1725;
  font-weight: 200;
}

.Footer__infos > * {
  align-self: flex-start;
  height: 10vh;
  width: 8%;
  line-height: 4vh;
}

.Footer__infos > *:nth-child(n+2) {
  margin-left: 5vw;
}

.Footer__btn {
  color: black;
  align-self: flex-end;
  display: flex;
  margin: auto;
  width: 1vw;
  cursor: pointer;
  user-select: none;
}

.Footer__btn > h2 {
  font-weight: 200;
  margin-right: 1vw;
}

.Footer__btn > img {
  margin-left: 0;
  transition: margin-left .2s ease;
  will-change: margin-left;
}

.Footer__btn:hover > img {
  margin-left: 8px;
}

.type {
  color:#AB1725;
  font-size: 18px;
  margin: 0vh 0vh 1vh 0.2vw;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  
  .Footer {
    display: flex;
    width: 90vw;
    background-color: #FFFFFF;
    color: white;
    height: 9vh;
    padding: 5px;
  }

  .Footer__infos {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 80vw;
    flex-flow: row nowrap;
    color: black;
  }

  .model {
    font-weight: 100;
    white-space: nowrap;
    margin-top: 2.5vh;
  }

  .Footer__infos > .kwh {
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    height: auto;
    line-height: 3vh;
  }

  .wheel {
    transform: scale(0.7);
    margin-top: 1.5vh;
  }

  .Footer__infos > .color {
    transform: scale(0.4);
    height: 6vh;
    width: 6vw;
  }

  .Footer__infos > .price:nth-child(1) {
    line-height: 0.5vh;
  }

  .Footer__infos > .price > h1 {
    color:#AB1725;
    font-weight: 200;
  }

  .Footer__infos > * {
    align-self: flex-start;
    height: 6vh;
    width: 8vw;
    line-height: 4vh;
  }

  .Footer__infos > *:nth-child(n+2) {
    margin-left: 6vw;
  }

  .Footer__btn {
    color: black;
    align-self: flex-end;
    display: flex;
    margin: auto;
    width: 1vw;
    line-height: 1px;
    height: 5.5vh;
    cursor: pointer;
    user-select: none;
  }

  .Footer__btn > h2 {
    font-weight: 200;
    margin-right: 1vw;
  }

  .Footer__btn > img {
    margin-left: 0;
    transition: margin-left .2s ease;
    will-change: margin-left;
  }

  .Footer__btn:hover > img {
    margin-left: 8px;
  }

  .type {
    color:#AB1725;
    font-size: 18px;
    margin: 0vh 0vh 1vh 0.2vw;
  }
  
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) {
  
  .Footer {
    display: flex;
    width: 812px;
    background-color: #F2F2F2;
    color: white;
    padding: 10px;
  }

  .Footer__infos {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 90%;
    flex-flow: row nowrap;
    color: black;
  }

  .model {
    opacity: 0;
  }

  .Footer__infos > .kwh {
    opacity: 0;
  }

  .wheel {
    opacity: 0;
  }

  .Footer__infos > .color {
    opacity: 0;
  }

  .Footer__infos > .price {
    line-height: 5px;

  }

  .Footer__infos > .price > h1 {
    color:#AB1725;
    font-weight: 200;
  }

  .Footer__btn {
    color: black;
    align-self: flex-end;
    display: flex;
    margin: 0px 470px 5px 0px;
    width: 80px;
    line-height: 1px;
    height: 5.5vh;
    cursor: pointer;
    user-select: none;
  }

  .Footer__btn > h2 {
    font-weight: 200;
  }

  .Footer__btn > img {
    margin-left: 0;
    transition: margin-left .2s ease;
    will-change: margin-left;
  }

  .Footer__btn:hover > img {
    margin-left: 8px;
  }

  .type {
    color:#AB1725;
    font-size: 18px;
    margin: 0vh 0vh 1vh 0.2vw;
  }
}