.color {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  width: 90vw;
}

.color__img {
  margin: 10vh 8vw 0vh 0vh;
}

.price {
  font-weight: 100;
  color: #AB1725;
}

.color__selection > div {
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-top: 10vh;
}

.color__selection > p {
  width: 30vw;
}

.color__selection > h1,
.color__img > .label 
{
  font-weight: 200;
}


.color__option,
.color__option--active {
  margin: auto;
  border: 10px #FFFFFF solid;
  border-radius: 50%;
  height: 6vh;
  transition: all .2s ease-in;
  cursor: pointer;
  user-select: none;
}

.color__option:active,
.color__option--active {
  background-color: #2E3948;
  border-color: #2E3948;
  height: 5.4vh;
}

.color__option:hover,
.color__option--active {
  transform: scale(1.1);
}

.color__option > img {
  width: 2vw;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

  .color {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100vw;
  }

  .color__img {
    margin: auto;
    height: 45vh;
  }

  .color__img > img{
    transform: scale(1.2);
    width: 50vw;
  }

  .price {
    line-height: 4vh;
    color: #AB1725;
    text-align: center;
    margin: auto;
  }

  .label {
    margin: auto;
    text-align: center;
  }

  .color__selection > div {
    display: flex;
    height: auto;
    justify-content: space-around;
    margin-top: 10vh;
  }

  .color__selection > h1 {
    margin: auto;
    width: 90vw;
  }

  .color__selection > p {
    margin: auto;
    width: 90vw;
  }

  .color__selection > h1,
  .color__img > .label,
  .color__img > .price
  {
    font-weight: 200;
  }


  .color__option,
  .color__option--active {
    margin: auto;
    border: 10px #FFFFFF solid;
    border-radius: 50%;
    height: 6vh;
    transition: all .1s ease-in;
    cursor: pointer;
    user-select: none;
  }

  .color__option:active,
  .color__option--active {
    background-color: #2E3948;
    border-color: #2E3948;
    height: 6.4vh;
  }

  .color__option--active {
    transform: scale(1.1);
  }

  .color__option > img {
    width: 4vw;
  }


} 


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
  
  .color {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 98vw;
    padding: 15px;
  }

  .color__img {
    margin: auto;
    width: 98vw;
    height: 40vh;
    transform: scale(0.8);
  }

  .color__img > img{
    width: 390px;
    transform: scale(1.4);
  }

  .price {
    line-height: 4vh;
    color: #AB1725;
    text-align: center;
    margin: auto;
    font-size: 32px;
  }

  .label {
    margin: auto;
    text-align: center;
    font-size: 32px;
  }

  .color__selection > div {
    display: flex;
    height: auto;
    justify-content: space-around;
    margin-top: 10vh;
  }

  .color__selection > h1,
  .color__selection > p {
    margin: auto;
    width: 100vw;
  }

  .color__selection > h1,
  .color__img > .label,
  .color__img > .price
  {
    font-weight: 200;
  }


  .color__option,
  .color__option--active {
    margin: auto;
    border: 10px #FFFFFF solid;
    border-radius: 50%;
    height: 50px;
    transition: all .1s ease-in;
    cursor: pointer;
    user-select: none;
  }

  .color__option:active,
  .color__option--active {
    background-color: #2E3948;
    border-color: #2E3948;
    height: 50px;
  }

  .color__option--active {
    transform: scale(1.1);
  }

  .color__option > img {
    width: 35px;
  }


}
