.body {
  display: flex;
  margin-right: 30%;
  flex-flow: column wrap;
}

.body__wrapper {
  margin: -5% 0% 0% 35%;
}

.body__h3 {
  font-size: 52px;
  font-weight: 100;
  color:#AB1725;
  height: 1vh;
  margin:5% 0% -2% 35.5%;
}

.body__h1 {
  font-size: 152px;
  font-weight: 100;
  height: 1vh;
}

.body__h1:after {
  content: 'R';
  color: #AB1725;
  font-weight: bold;
}

.body__car {
  margin: 3% 0% 0% 45%;
}

.body__btn {
  width: 6vw;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  line-height: 1px;
  margin: 0% 0% 5% 67%;
  height: 6vh;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  border: 2px #FFFFFF solid;
}

.body__btn:hover {
  border-bottom-color: #AB1725;
}

.body__btn > h2 > img {
  transition: margin-left .2s ease;
  will-change: margin-left;
}

.body__btn:hover > h2 > img {
  margin-left: 10px;
}

.body__infos {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.body__infos > .info {
  border-bottom: 3px #AB1725 solid;
  width: 7vw;
  height: 6vh;
  line-height: 1px;
}

.body__infos > .info > h2 {
  color: #AB1725;
}

.body__infos > .info:nth-child(1) > h2:after {
  content: "s";
  font-size: 15px;
}

.body__infos > .info:nth-child(2) > h2:after {
  content: "mi";
  font-size: 15px;
}

.body__infos > .info:nth-child(3) > h2:after {
  content: "mp/h";
  font-size: 15px;
}

.body__infos > .info > h4 {
  opacity: 0.7;
  font-weight: 200;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .body {
    display: flex;
    margin-right: auto;
    width: 100vw;
    flex-flow: column wrap;
  }
  
  .body__wrapper {
    margin: -5% 0% 0% 25%;
  }
  
  .body__h3 {
    font-size: 62px;
    font-weight: 100;
    color:#AB1725;
    margin:5% 0% 1% 25.5%;
  }
  
  .body__h1 {
    font-size: 132px;
    font-weight: 100;
    margin-bottom: 50px;
  }
  
  .body__car {
    margin-left: 15vw;
    transform: scale(0.9);
  }
  
  .body__btn {
    width: 13vw;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 1px;
    margin: auto;
    height: 6vh;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    border: 2px #FFFFFF solid;
  }
  
  .body__btn > h2 > img {
    transition: margin-left .2s ease;
    will-change: margin-left;
  }
  
  .body__btn:hover > h2 > img {
    margin-left: 10px;
  }
  
  .body__infos {
    width: 100vw;
    margin: auto;
  }
  
  .body__infos > .info {
    margin-top: 6vh;
    border-bottom: 3px #AB1725 solid;
    width: 12vw;
    height: 6.5vh;
    line-height: 1px;
  }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 

  .body {
    display: flex;
    margin-right: auto;
    width: 375px;
    height: 750px;
    flex-flow: column wrap;
  }
  
  .body__wrapper {
    margin: 100px 0px 0px 50px;
  }
  
  .body__h3 {
    font-size: 34px;
    font-weight: 100;
    color:#AB1725;
    margin: 50px 50px 0px 55px;
    line-height: 300px;
  }
  
  .body__h1 {
    margin: auto;
    font-size: 92px;
    font-weight: 100;
    line-height: 190px;
  }
  
  .body__car {
    margin: auto;
  }

  .body__car > img {
    width: 380px;
    transform: scale(1.1);
  }
  
  .body__btn {
    width: 100px;
    text-align: center;
    letter-spacing: 10px;
    margin: -100px 100px 50px 140px;
    height: 6vh;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    border: 2px #FFFFFF solid;
  }

  .body__btn > h2 {
    font-weight: 100;
    font-size: 26px;
  }
  
  .body__btn > h2 > img {
    transition: margin-left .2s ease;
    will-change: margin-left;
  }
  
  .body__btn:hover > h2 > img {
    margin-left: 10px;
  }
  
  .body__infos {
    width: 350px;
    margin: 125px 0px 50px 25px;
  }
  
  .body__infos > .info {
    border-bottom: 3px #AB1725 solid;
    width: 100px;
    height: 7vh;
    line-height: 1px;
  }
}