.engine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: auto;
  width: 80vw;
}

.engine__infos {
  width: 30vw;
  margin-top: 5vh;
}

.engine__img {
  width: 20vmax;
  height: 35vmax;
}

.box,
.box--active {
  display: flex;
  background-color: #F2F2F2;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: 0.4;
  height: 5vh;
  padding: 25px;
  align-items: center;
  line-height: 4vh;
  margin-bottom: 5vh;
  cursor: pointer;
  transition: opacity .2s ease;
  will-change: opacity;
  user-select: none;
}

.box--active {
  opacity: 1;
}

.box--active > .dot {
  border: 10px #AB1725 solid;
  border-radius: 360px;
}

.engine__infos > .title {
  margin-bottom: 6vh;
  font-weight: 100;
  font-size: 38px;
}

.model:after {
  content: "P";
  color: #AB1725;
  font-weight: bold;
}

.kwh {
  font-size: 18px;
}

.kwh:after {
  content: "kWh";
  font-weight: 100; 
}

.miles {
  font-size: 18px;
}

.miles:after {
  content: "miles range";
  font-weight: 100;
}

.dot {
  border: 10px #f2f2f2 solid;
  border-radius: 360px;
}

.box:hover > .dot {
  border: 10px #AB1725 solid;
  border-radius: 360px;
}

.box:hover {
  opacity: 0.6;
}

.engine__infos > div:nth-child(3) > .model:after {
  content: "S";
}

.engine__infos > div:nth-child(4) > .model:after {
  content: "B";
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

  .engine {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: auto;
    width: 90vw;
  }
  
  .engine__infos {
    width: 50vw;
    margin-top: 5vh;
  }
  
  .engine__img {
    margin: auto;
    width: 40%;
    height: 50%;
  }
  
  .box,
  .box--active {
    display: flex;
    background-color: #F2F2F2;
    flex-flow: row nowrap;
    justify-content: space-between;
    opacity: 0.4;
    height: 5vh;
    padding: 25px;
    align-items: center;
    line-height: 4vh;
    margin-bottom: 5vh;
    cursor: pointer;
    transition: opacity .2s ease;
    will-change: opacity;
    user-select: none;
  }
  
  .box--active {
    opacity: 1;
  }
  
  .box--active > .dot {
    border: 10px #AB1725 solid;
    border-radius: 360px;
  }
  
  .engine__infos > .title {
    margin-bottom: 6vh;
    font-weight: 100;
    font-size: 34px;
  }
  
  .dot {
    border: 10px #f2f2f2 solid;
    border-radius: 360px;
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
  

  .engine {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: auto;
    width: 375px;
  }
  
  .engine__infos {
    height: 300px;
    width: 350px;
    padding: 6%;
  }
  
  .engine__img {
    margin: -50px 0px -150px 100px;
    width: 200px;
    height: 350px;
    transform: rotate(270deg);
  }
  
  .box,
  .box--active {
    display: flex;
    background-color: #F2F2F2;
    flex-flow: column wrap;
    justify-content: space-evenly;
    opacity: 0.4;
    height: 30px;
    line-height: 4px;
    align-items: center;
    margin-bottom: 5vh;
    cursor: pointer;
    transition: opacity .2s ease;
    will-change: opacity;
    user-select: none;
  }
  
  .box--active {
    opacity: 1;
  }
  
  .box--active > .dot {
    border: 10px #AB1725 solid;
    border-radius: 360px;
    margin-left: 20px;
  }
  
  .engine__infos > .title {
    margin-bottom: 6vh;
    font-weight: 100;
    font-size: 32px;
  }
  
  .dot {
    border: 10px #f2f2f2 solid;
    border-radius: 360px;
  }

  .miles {
    font-size: 18px;
  }

  .model {
    font-size: 18px;
  }

  .kwh {
    font-size: 18px;
  }
}