.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 1%;
  width: 90vw;
  line-height: 1px;
  height: 6vh;
  justify-content: space-around;
  font-family: 'Saira Condensed', sans-serif;
}

.navbar__logo {
  width: 200px;
  cursor: pointer;
  border: 2px #FFFFFF solid;
  transition: all 0.1s ease-out;

}

.navbar__logo:active {
  border-bottom-color: #AB1725;
  transform: scale(1.1);
}

.navbar__ul {
  display: flex;
  position: static;
  flex-flow: row nowrap;
  margin-left: 15%;
  list-style: none;
  width: 40vw;
  height: auto;
  justify-content: space-between;
}

.navbar__btn,
.navbar__btn--active {
  width: 6vw;
  text-align: center;
  white-space: nowrap;
  line-height: 1px;
  cursor: pointer;
  opacity: 0.6;
  transition: all .2s ease;
  user-select: none;
}

.navbar__btn:hover {
  border-bottom: 2px #AB1725 solid;
  opacity: 1;
}


.navbar__btn--active {
  border-bottom: 2px #AB1725 solid;
  font-size: 14px;
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 
  
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    padding: 1%;
    width: 90vw;
    justify-content: space-around;
    font-family: 'Saira Condensed', sans-serif;
  }
  
  .navbar__logo {
    width: 200px;
  }
  
  .navbar__ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    width: 70vw;
    height: 6vh;
    justify-content: space-between;
    overflow-x: scroll;
  }

  .navbar__ul::-webkit-scrollbar {
      width: 0;
      height: 0;
  }
  
  .navbar__btn,
  .navbar__btn--active {
    width: 12vw;
    text-align: center;
    line-height: 3vh;
    height: 4vh;
    margin-right: 7vw;
    cursor: pointer;
    opacity: 0.6;
    transition: all .2s ease;
    user-select: none;
  }
  
  .navbar__btn--active {
    border-bottom: 2px #AB1725 solid;
    font-size: 14px;
    opacity: 1;
  }
}

@media only screen 
and (min-width : 375px) 
and (max-width : 812px) { 
  
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    padding: 3%;
    width: 100vw;
    margin: auto;
    line-height: 1px;
    height: 6vh;
    justify-content: space-around;
    font-family: 'Saira Condensed', sans-serif;
    overflow-x: scroll;
  }
  
  .navbar__logo {
    margin-top: 4vw;
    width: 200px;
  }
  
  .navbar__ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    width: 40vw;
    height: 4vh;
    justify-content: space-between;
  }

  .navbar::-webkit-scrollbar {
      width: 0;
      height: 0;
  }
  
  .navbar__btn,
  .navbar__btn--active {
    width: 12vw;
    text-align: center;
    height: 3vh;
    margin-top: 2vw;
    margin-right: 15vw;
    cursor: pointer;
    opacity: 0.6;
    transition: all .2s ease;
    user-select: none;
  }
  
  .navbar__btn--active {
    border-bottom: 2px #AB1725 solid;
    font-size: 14px;
    opacity: 1;
  }

}