@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

* {
  box-sizing: border-box;
}


.NavBar {
  display: flex;
  flex-flow: row nowrap;
  padding: 1%;
  width: 90vw;
  height: 11vh;
  justify-content: space-around;
  font-family: 'Saira Condensed', sans-serif;
}

.NavBar__logo {
  width: 150px;
}

.NavBar__ul {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 15%;
  list-style: none;
  width: 30vw;
  height: auto;
  justify-content: space-between;
}

.NavBar__btn {
  width: 4vw;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.6;
  transition: all .2s ease;
}

.NavBar__btn:hover {
  border-bottom: 2px #0F1C2D solid;
  opacity: 1;
}


.NavBar__btn:active {
  border-bottom: 2px #AB1725 solid;
  font-size: 14px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */}