.Result {
  display: flex;
  flex-flow: row nowrap;
  margin: 10vh 5vw 5vh 5vw;
  justify-content: center;
  width: 90vw;
}

.title {
  font-weight: 100;  
}

.title:after {
  content: "R";
  color: #AB1725;
  font-weight: bold;
}

.Result__car {
  width: 25vw;
  height: 25vh;
  margin: 15vh 10vw 5vh 5vw;
}

.Result__infos {
  width: 20vw;
  margin-right: 10vw;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

.price {
  width: 50%;
  text-align: end;
  color: #AB1725;
}

.label {
  width: 50%;
  text-align: start;
  font-weight: 200;
  white-space: nowrap;
}

.divider {
  border: 1px lightgrey solid;
  width: 100%;
}

.rebuild {
  margin: 3vh 5vw 0vh 5vw;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.5px;
  cursor: pointer;
  user-select: none;
}

.rebuild > img {
  transition: transform 0.3s ease;
  will-change: transform;
}

.rebuild:hover > img {
  transform: rotate(180deg);
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  
  .Result {
    display: flex;
    flex-flow: row nowrap;
    margin: 10vh 5vw 5vh 5vw;
    justify-content: center;
    width: 90vw;
  }
  
  .title {
    font-weight: 100;  
  }
  
  .title:after {
    content: "R";
    color: #AB1725;
    font-weight: bold;
  }
  
  .Result__car {
    width: 35vw;
    height: 25vh;
    margin: 20vh 10vw 5vh 5vw;
  }
  
  .Result__infos {
    width: 40vw;
    margin-right: 5vw;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
  }
  
  .price {
    width: 50%;
    text-align: end;
    color: #AB1725;
  }
  
  .label {
    width: 50%;
    text-align: start;
    font-weight: 200;
    white-space: nowrap;
  }
  
  .divider {
    border: 1px lightgrey solid;
    width: 100%;
  }
  
  .rebuild {
    margin: 3vh 5vw 0vh 5vw;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
  }
  
  .rebuild > img {
    transition: transform 0.3s ease;
    will-change: transform;
  }
  
  .rebuild:hover > img {
    transform: rotate(180deg);
  }

}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 
  
  .Result {
    display: flex;
    flex-flow: column nowrap;
    margin: -70px 1px 0px 10px;
    justify-content: center;
    width: 100vw;
  }
  
  .title {
    font-weight: 100;  
  }
  
  .title:after {
    content: "R";
    color: #AB1725;
    font-weight: bold;
  }
  
  .Result__car {
    width: 90vw;
    height: 25vh;
  }
  
  .Result__infos {
    width: 100vw;
    margin-right: 5vw;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }
  
  .price {
    width: 100%;
    text-align: end;
    color: #AB1725;
  }
  
  .label {
    width: 100%;
    text-align: start;
    font-weight: 200;
    white-space: nowrap;
  }
  
  .divider {
    border: 1px lightgrey solid;
    width: 100%;
  }
  
  .rebuild {
    margin: 3vh 5vw 5vh 5vw;
    text-align: center;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
  }
  
  .rebuild > img {
    transition: transform 0.3s ease;
    will-change: transform;
  }
  
  .rebuild:hover > img {
    transform: rotate(180deg);
  }
}
