@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');

* {
  font-family: 'Saira Condensed', sans-serif;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
